<li class="media comment">
  <%= image_tag message.user.avatar.url if message.user.avatar? %>

  <div class="media-body">
    <h4 class="media-heading"><%= message.user.username %> says
      <small class="text-muted">[<%= message.created_at.strftime('%H:%M:%S') %>]:</small></h4>
    <p><%= message.body %></p>
  </div>
</li>