<li class="media comment">
  <%= link_to gravatar_for(message.user, size: 50), message.user %>

  <div class="media-body">
    <h4 class="media-heading"><%= message.user.username %> says
      <small class="text-muted">[at <%= message.created_at.strftime('%-d %B %Y, %H:%M:%S') %>]:</small></h4>
    <p><%= message.body %></p>
  </div>
</li>