<div class="avatar">
<%= image_tag @user.avatar.url if @user.avatar? %>
</div>
<h3><%= @user.username %></h3>

<div class="col-md-12">
	<% country = Country.find_country_by_alpha2(@user.location) %>
	<p>Location: <%= country.name %> <br \>
	About me: <%= @user.about_me %></p>
</div>